In [1]:
import pandas as pd
import numpy as np

### Function to add missing years

In [2]:
all_years = np.arange(1999, 2020)

In [3]:
columns = ['year_submitted', 'nct_id']

In [4]:
all_years

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [5]:
df_years = [2000, 2005, 2007, 2009, 2010, 2011, 2012]
df_values = [5, 7, 9, 10, 4, 6, 30]

In [6]:
# test df
df =  list(zip(df_years, df_values))
df = pd.DataFrame(df, columns = columns)

In [7]:
df_years

[2000, 2005, 2007, 2009, 2010, 2011, 2012]

In [8]:
# keep records in all_years not present in df_years
all_years = [item for item in all_years if item not in df_years]

# Create list with 0
listofzeros = [0] * len(all_years)

In [23]:
# Test list of zeros
zeros = [0] * len(all_years)
zeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
all_years

[1999,
 2001,
 2002,
 2003,
 2004,
 2006,
 2008,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [10]:
listofzeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
columns

['year_submitted', 'nct_id']

In [12]:
# Create new dataframe
zippedList =  list(zip(all_years, listofzeros))
zippedList

[(1999, 0),
 (2001, 0),
 (2002, 0),
 (2003, 0),
 (2004, 0),
 (2006, 0),
 (2008, 0),
 (2013, 0),
 (2014, 0),
 (2015, 0),
 (2016, 0),
 (2017, 0),
 (2018, 0),
 (2019, 0)]

In [13]:
# Creata new df
df_all_years = pd.DataFrame(zippedList, columns = columns)

In [14]:
df_all_years

    year_submitted  nct_id
0             1999       0
1             2001       0
2             2002       0
3             2003       0
4             2004       0
5             2006       0
6             2008       0
7             2013       0
8             2014       0
9             2015       0
10            2016       0
11            2017       0
12            2018       0
13            2019       0

In [15]:
df

   year_submitted  nct_id
0            2000       5
1            2005       7
2            2007       9
3            2009      10
4            2010       4
5            2011       6
6            2012      30

In [20]:
df_final = pd.concat([df, df_all_years], ignore_index=True)
df_final

    year_submitted  nct_id
0             2000       5
1             2005       7
2             2007       9
3             2009      10
4             2010       4
5             2011       6
6             2012      30
7             1999       0
8             2001       0
9             2002       0
10            2003       0
11            2004       0
12            2006       0
13            2008       0
14            2013       0
15            2014       0
16            2015       0
17            2016       0
18            2017       0
19            2018       0
20            2019       0

In [19]:

df_final = df_final.sort_values(by='year_submitted').reset_index(drop=True)

    year_submitted  nct_id
0             1999       0
1             2000       5
2             2001       0
3             2002       0
4             2003       0
5             2004       0
6             2005       7
7             2006       0
8             2007       9
9             2008       0
10            2009      10
11            2010       4
12            2011       6
13            2012      30
14            2013       0
15            2014       0
16            2015       0
17            2016       0
18            2017       0
19            2018       0
20            2019       0